# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://user:password@ep-xxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_URL="https://kelaskonten.id"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Site
NEXT_PUBLIC_SITE_URL="https://kelaskonten.id"

# Google OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
